---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import { Image } from "astro:assets";
import Button from "~/components/Button.astro";
import HomeImage from "~/assets/images/homeimage.png";

---

<Layout title="Home" pageTitle="Home" description="Welcome to Jackfrost Tattoo - Demo acc">
	<Section class:list={"relative"}>
		<Image src={HomeImage} alt="Tattoo" class:list={"absolute inset-0 w-full h-full object-cover"} />

		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div class="ml-auto">
					<div class="prose prose-xl prose-invert text-white lg:text-left text-balance">
						<h1 class="text-5xl lg:text-7xl font-caveat leading-tight mb-4 text-white drop-shadow-[0_0_10px_rgba(255,255,255,0.8)]">
  Jackfrost<br />
  <span class="text-white/90">Tattoo Studio</span>
</h1>
<p class="text-lg lg:text-xl text-white/70">
  Jackfrost Tattoo — BF Homes, Parañaque
</p>

						<div class="not-prose mt-8">
							<Button url="/cats" color="white"> Book now! </Button>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</Section>
</Layout>
