---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import { Image } from "astro:assets";
import Button from "~/components/Button.astro";
import Faq from "~/components/Faq.astro";
import CallToAction from "~/components/CallToAction.astro";
import ShowCats from "~/components/ShowCats.astro";
import ShowBlogs from "~/components/ShowBlogs.astro";
import Heading from "~/components/Heading.astro";
import CatNameGenerator from "~/components/CatNameGenerator.astro";

// Images
import TattooBackground from "~/assets/images/tattoo-background.jpg";

// Faq
const faq = [
	{
		question: "What is the adoption process?",
		answer: "The adoption process is simple. You can view our available pets on our website. If you see a pet you are interested in, you can contact us to schedule a meet and greet. If you decide to adopt the pet, you will need to fill out an adoption application and pay the adoption fee. Once the adoption is complete, you can take your new pet home!",
	},
	{
		question: "What is the adoption fee?",
		answer: "The adoption fee varies depending on the pet. The fee covers the cost of spaying/neutering, vaccinations, microchipping, and other medical expenses. The fee also helps support our shelter and the care of our animals.",
	},
	{
		question: "Can I adopt a pet if I live out of state?",
		answer: "Yes, you can adopt a pet if you live out of state. However, you will need to come to our shelter to meet the pet and complete the adoption process. We do not ship pets, so you will need to pick up your new pet in person.",
	},
	{
		question: "Do you have a return policy?",
		answer: "Yes, we have a return policy. If for any reason you are unable to keep your adopted pet, you can return the pet to our shelter. We want to ensure that all of our pets find loving forever homes, so we are here to help if you need to return a pet.",
	},
];
---

<Layout title="Home" pageTitle="Home" description="Welcome to Jackfrost Tattoo - Demo acc">
	<Section class:list={"relative"}>
		<Image src={TattooBackground} alt="Tattoo" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-fuchsia-500/60 to-teal-500/80 absolute inset-0"></div>

		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div class="ml-auto">
					<div class="prose prose-xl prose-invert text-white lg:text-right text-balance">
						<h1 class="text-5xl lg:text-8xl mb-0">Welcome to Jackfrost Tattoo - Demo acc!</h1>
						<p>
							We specialize in minimalist fine-line tattoos. Book your session today and explore our studio in BF Homes, Parañaque.
						</p>

						<div class="not-prose mt-8">
							<Button url="/booking" color="white"> Book now! </Button>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</Section>
</Layout>
