<div class="space-y-1 text-center">
  <p class="text-lg font-semibold">Jackfrost Tattoo Shop</p>
  <p>Dama de Noche St, Sitio Sto. Niño</p>
  <p>West Cupang, Muntinlupa</p>
  <p>Philippines</p>
</div>
