---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white">
  <div class="py-12 container">
    <p class="text-black drop-shadow-[0_0_12px_rgba(255,255,255,0.75)] text-sm md:text-base">
      &copy; {currentYear} <br />
      Jackfrost Tattoo. All rights reserved.
    </p>
  </div>
</footer>
