<footer class="bg-white shadow-[0_0_60px_rgba(255,255,255,0.3)] text-black">
  <div class="py-12 container">
    <p class="text-sm">
      &copy; 2025 <span class="font-semibold">Jackfrost Tattoo.</span> All rights reserved.
    </p>
    <div class="mt-4">
      <a href="https://www.facebook.com/JackFrostTattoo2018/" target="_blank" class="hover:underline">
        Facebook
      </a>
    </div>
  </div>
</footer>
