<div class="flex justify-between items-center w-full">
  <!-- Left section -->
  <p class="text-black drop-shadow-[0_0_12px_white]">
    © 2025 <span class="font-bold">Jackfrost Tattoo</span>. All rights reserved.
  </p>

  <!-- Facebook Icon on right -->
  <a 
    href="https://www.facebook.com/JackFrostTattoo2018/" 
    target="_blank" 
    rel="noopener noreferrer"
    class="block w-8 h-8"
  >
    <img 
      src="/src/assets/icons/facebook.svg" 
      alt="Facebook"
      class="w-full h-full object-contain"
    />
  </a>
</div>
